$primaryColor: #2196F3;
$secondaryColor: #fff;
$textColor: #000;

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.cabecera {
  background-color: $primaryColor;
  color: $secondaryColor;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.titulo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#TituloCabecera {
  font-size: 2em;
  color: $secondaryColor;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;

  a {
    color: $secondaryColor;
    text-decoration: none;
    margin: 0 15px;
  }
}

.portada {
  padding: 250px 0;
  padding-left: 10%;
  background: url("../Imagenes/showcase.jpg") center 30%/cover no-repeat;
  color: $textColor;
  text-align: left;

  #eslogan {
    font-size: 4em;
    color: $textColor;
  }

  .esloganPequeño {
    font-size: 1.2em;
    opacity: 0.8;
  }

  .contact {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: $primaryColor;
    color: $secondaryColor;
    text-decoration: none;
  }
}

// Definir el mixin para la estructura deseada
@mixin pagina2-estructura {
  h2, h3 {
    display: block;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2.5em;
    color: $primaryColor;
  }

  h3 {
    font-size: 1.5em;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  p {
    overflow: hidden;
  }
}

// Aplicar el mixin a la clase .segundaPagina
.segundaPagina {
  padding: 50px;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  h2, h3, img, p {
    width: 100%;
  }

  @include pagina2-estructura;
}

#aboutUs, #services, #contact {
  flex: 0 1 calc(25% - 40px);
  margin: 20px;
  padding: 20px;
  background-color: $secondaryColor;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid $primaryColor;

  h2 {
    color: $primaryColor;
  }

  img {
    max-width: 25%;
    height: auto;
  }
}

.listaServicios {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  > div {
    border: 2px solid $primaryColor;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
  }
}

.infoServicio {
  color: #555;
}

.terceraPagina, .cuartaPagina {
  padding: 50px;
}

.formulario {
  max-width: 400px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: $primaryColor;
  color: $secondaryColor;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.follow {
  text-align: center;
  background-color: #333;
  color: $secondaryColor;
  padding: 10px;
}
